<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="static/styles/bootstrap/css/bootstrap.min.css">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous"> -->

    <!-- Scripts -->
    <script src="static/scripts/jquery/jquery-3.6.3.js"></script>
    <script src="static/scripts/admin.js"></script>

    <title>Admin</title>
</head>
<body>
    <!-- Options -->
    <div class="container">
        <h1>Options</h1>
        <h3>Status</h3>
        <form class="form-switch form-check" method="POST" id="status-form">
            <label class="form-label">Active</label>
            {% if status %}
                <input class="form-check-input status-switch" id="status-switch" name="status" type="checkbox" role="switch" checked>
            {% else %}
                <input class="form-check-input status-switch" id="status-switch" name="status" type="checkbox" role="switch">
            {% endif %}
        </form>

        <h3>Day Selector</h3>
        <div class="row">
            <form method="POST" id="day-selector-form">
                <div class="btn-group">
                    {% if selected_days["monday"] %}
                        <input type="checkbox" name="monday" class="btn-check day-selector-checkbox" id="monday-checkbox" checked>
                    {% else %}
                        <input type="checkbox" name="monday" class="btn-check day-selector-checkbox" id="monday-checkbox">
                    {% endif %}
                    <label class="btn btn-outline-primary" for="monday-checkbox">Monday</label>

                    {% if selected_days["tuesday"] %}
                        <input type="checkbox" name="tuesday" class="btn-check day-selector-checkbox" id="tuesday-checkbox" checked>
                    {% else %}
                        <input type="checkbox" name="tuesday" class="btn-check day-selector-checkbox" id="tuesday-checkbox">
                    {% endif %}
                    <label class="btn btn-outline-primary" for="tuesday-checkbox">Tuesday</label>

                    {% if selected_days["wednesday"] %}
                        <input type="checkbox" name="wednesday" class="btn-check day-selector-checkbox" id="wednesday-checkbox" checked>
                    {% else %}
                        <input type="checkbox" name="wednesday" class="btn-check day-selector-checkbox" id="wednesday-checkbox">
                    {% endif %}
                    <label class="btn btn-outline-primary" for="wednesday-checkbox">Wednesday</label>

                    {% if selected_days["thursday"] %}
                        <input type="checkbox" name="thursday" class="btn-check day-selector-checkbox" id="thursday-checkbox" checked>
                    {% else %}
                        <input type="checkbox" name="thursday" class="btn-check day-selector-checkbox" id="thursday-checkbox">
                    {% endif %}
                    <label class="btn btn-outline-primary" for="thursday-checkbox">Thursday</label>

                    {% if selected_days["friday"] %}
                        <input type="checkbox" name="friday" class="btn-check day-selector-checkbox" id="friday-checkbox" checked>
                    {% else %}
                        <input type="checkbox" name="friday" class="btn-check day-selector-checkbox" id="friday-checkbox">
                    {% endif %}
                    <label class="btn btn-outline-primary" for="friday-checkbox">Friday</label>

                    {% if selected_days["saturday"] %}
                        <input type="checkbox" name="saturday" class="btn-check day-selector-checkbox" id="saturday-checkbox" checked>
                    {% else %}
                        <input type="checkbox" name="saturday" class="btn-check day-selector-checkbox" id="saturday-checkbox">
                    {% endif %}
                    <label class="btn btn-outline-primary" for="saturday-checkbox">Saturday</label>

                    {% if selected_days["sunday"] %}
                        <input type="checkbox" name="sunday" class="btn-check day-selector-checkbox" id="sunday-checkbox" checked>
                    {% else %}
                        <input type="checkbox" name="sunday" class="btn-check day-selector-checkbox" id="sunday-checkbox">
                    {% endif %}
                    <label class="btn btn-outline-primary" for="sunday-checkbox">Sunday</label>
                </div>
            </form>
        </div>

        <br>
    </div>

    <!-- Banana Time -->
    <div class="container">
        <h1>Banana Time</h1>
        <div class="row">
            <div class="row g-3">
                <form class="row" method="POST">
                    <input type="hidden" name="form_id" value="set_banana_time">
                    <h3 for="" class="form-label">Time</h3>
                    <div class="col-auto">
                        <input class="form-control" type="time" name="banana_time" value="{{ announcements['banana_time'].time.strftime('%H:%M') }}">
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-primary">Set</button>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <div class="row">
            <form class="row" method="POST">
                <input type="hidden" name="form_id" value="set_banana_time_text">
                <h3 for="" class="form-label">Message</h3>
                <div class="col">
                    <input type="text" class="form-control" name="text" value="{{ announcements['banana_time'].text }}" required></input>
                </div>
                <div class="col-auto">
                    <button class="btn btn-primary">Set</button>
                </div>
            </form>
        </div>
    </div>
    
    <br>
    
    <!-- Announcements -->
    <div class="container">
        <h1>Announcements</h1>

        <!-- Scheduled -->
        <div class="row">
            <h3>Scheduled</h3>
            <table class="table" id="announcement-table">
                <tr>
                    <th>Time</th>
                    <th>Message</th>
                    <th></th>
                </tr>
                {% for key in announcements %}
                    {% if announcements[key].time != None %}
                        <tr id="announcement-id-{{ announcements[key].id }}" class="remove-announcement-form">
                            <input type="hidden" name="announcement_id" value="{{ announcements[key].id }}">
                            <td>{{ announcements[key].time.strftime("%H:%M") }}</td>
                            <td>{{ announcements[key].text }}</td>
                            {% if announcements[key].id != 'banana_time' %}
                                <td title="Remove announcement"><button id="{{ announcements[key].id }}" class="btn btn-danger remove-announcement-button">Remove</button></td>
                            {% else %}
                                <td title="Cannot remove banana time announcement"><button class="btn btn-secondary" disabled>Remove</button></td>
                            {% endif %}
                        </tr>
                    {% else %}
                        <tr id="announcement-id-{{ announcements[key].id }}">
                            <input type="hidden" name="announcement_id" value="{{ announcements[key].id }}">
                            <td>{{ announcements[key].mins_before }} minutes before banana time</td>
                            <td>{{ announcements[key].text }}</td>
                            <td><button id="{{ announcements[key].id }}" class="btn btn-danger remove-announcement-button">Remove</button></td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>

        <br>

        <!-- Add Announcements -->
        <div class="row">
            <h3>Add Announcements</h3>
            <div class="row">
                <h4>Instant Message</h4>
                <form method="POST" class="row" id="instant-announcement-form">
                    <input type="hidden" name="type" value="instant">
                    <div class="col">
                        <input class="form-control" id="instant-message-input" type="text" name="text" required>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-primary">Send</button>
                    </div>
                </form>
                <br>
                <br>
            </div>

            <div class="row">
                <h4>Time Announcement</h4>
                <form method="POST" class="row" id="time-announcement-form">
                    <input type="hidden" name="type" value="time">
                    <div class="col-sm-auto ">
                        <label for="" class="form-label">Time</label>
                        <input class="form-control" id="time-input" type="time" name="time">
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Announcement Message</label>
                        <input class="form-control" id="time-input-text" type="text" name="text" required></textarea>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>

            <div class="row">
                <h4>Minutes Before Announcement</h4>
                <form method="POST" class="row" id="mins-before-announcement-form">
                    <input type="hidden" name="type" value="mins_before">
                    <div class="col-sm-auto ">
                        <label for="" class="form-label">Minutes Before</label>
                        <input class="form-control" id="mins-before-input" type="number" name="mins_before" min="1" max="1440" step="1" required>
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Announcement Message</label>
                        <input class="form-control" id="mins-before-text-input" type="text" name="text" required>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>