<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="static/styles/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/styles/css/styles.css">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous"> -->

    <!-- Scripts -->
    <script src="static/js/timer.js"></script>

    <title>BananaBot</title>
</head>
<body>
    <div class="flex-container">
        <div class="w-100 landing-section">
            <div class="flex-container">
                <div class="landing-item ">
                    <h1 class="text-uppercase landing-header">The <span class="text-highlight">Phenomenon</span> Taking the
                        World By Storm!
                    </h1>
                    <p class="landing-text">What started as one man's daily banana has now <b>ripened</b> into a time of <b>fruitful</b> socialisation. Bringing teams closer, promoting good health, and keeping morale high with a well deserved five minute <b>banana break!</b></p>
                </div>
                <div class="hero-image landing-item"></div>
            </div>
        </div>
    </div>

    <div class="flex-container">
        <div class="w-100 banana-info">
            <h2 class="banana-time-logo">Banana Time In</h1>
                <div class="banana-times">
                    <h2 class="banana-time-label"><span id="timer-hours" class="banana-time-number">00</span> HOURS</h2>
                    <h2 class="banana-time-label"><span id="timer-mins" class="banana-time-number">00</span> MINUTES</h2>
                    <h2 class="banana-time-label"><span id="timer-secs" class="banana-time-number">00</span> SECONDS</h2>
                </div>
            <h2 class="banana-actual-time">{{ banana_time }}</h1>
        </div>
    </div>
</body>
</html>