{% extends 'base.html' %}

{% block body %}
    <!-- Options -->
    <div class="container">
        <h1>Options</h1>
        <h3>Status</h3>
        <form class="form-switch form-check" method="POST">
            <input type="hidden" name="form_id" value="status">
            <label class="form-label">Active</label>
            {% if status %}
                <input class="form-check-input" name="status" type="checkbox" role="switch" onchange="this.form.submit()" checked>
            {% else %}
                <input class="form-check-input" name="status" type="checkbox" role="switch" onchange="this.form.submit()">
            {% endif %}
        </form>

        <h3>Day Selector</h3>
        <div class="row">
            <form method="POST">
                <input type="hidden" name="form_id" value="day_selector">
                
                <div class="btn-group">
                    {% if selected_days["monday"] %}
                        <input type="checkbox" name="monday" class="btn-check" id="monday_checkbox" onchange="this.form.submit()" checked>
                    {% else %}
                        <input type="checkbox" name="monday" class="btn-check" id="monday_checkbox" onchange="this.form.submit()">
                    {% endif %}
                    <label class="btn btn-outline-primary" for="monday_checkbox">Monday</label>

                    {% if selected_days["tuesday"] %}
                        <input type="checkbox" name="tuesday" class="btn-check" id="tuesday_checkbox" onchange="this.form.submit()" checked>
                    {% else %}
                        <input type="checkbox" name="tuesday" class="btn-check" id="tuesday_checkbox" onchange="this.form.submit()">
                    {% endif %}
                    <label class="btn btn-outline-primary" for="tuesday_checkbox">Tuesday</label>

                    {% if selected_days["wednesday"] %}
                        <input type="checkbox" name="wednesday" class="btn-check" id="wednesday_checkbox" onchange="this.form.submit()" checked>
                    {% else %}
                        <input type="checkbox" name="wednesday" class="btn-check" id="wednesday_checkbox" onchange="this.form.submit()">
                    {% endif %}
                    <label class="btn btn-outline-primary" for="wednesday_checkbox">Wednesday</label>

                    {% if selected_days["thursday"] %}
                        <input type="checkbox" name="thursday" class="btn-check" id="thursday_checkbox" onchange="this.form.submit()" checked>
                    {% else %}
                        <input type="checkbox" name="thursday" class="btn-check" id="thursday_checkbox" onchange="this.form.submit()">
                    {% endif %}
                    <label class="btn btn-outline-primary" for="thursday_checkbox">Thursday</label>

                    {% if selected_days["friday"] %}
                        <input type="checkbox" name="friday" class="btn-check" id="friday_checkbox" onchange="this.form.submit()" checked>
                    {% else %}
                        <input type="checkbox" name="friday" class="btn-check" id="friday_checkbox" onchange="this.form.submit()">
                    {% endif %}
                    <label class="btn btn-outline-primary" for="friday_checkbox">Friday</label>

                    {% if selected_days["saturday"] %}
                        <input type="checkbox" name="saturday" class="btn-check" id="saturday_checkbox" onchange="this.form.submit()" checked>
                    {% else %}
                        <input type="checkbox" name="saturday" class="btn-check" id="saturday_checkbox" onchange="this.form.submit()">
                    {% endif %}
                    <label class="btn btn-outline-primary" for="saturday_checkbox">Saturday</label>

                    {% if selected_days["sunday"] %}
                        <input type="checkbox" name="sunday" class="btn-check" id="sunday_checkbox" onchange="this.form.submit()" checked>
                    {% else %}
                        <input type="checkbox" name="sunday" class="btn-check" id="sunday_checkbox" onchange="this.form.submit()">
                    {% endif %}
                    <label class="btn btn-outline-primary" for="sunday_checkbox">Sunday</label>
                </div>
            </form>
        </div>

        <br>
    </div>

    <!-- Banana Time -->
    <div class="container">
        <h1>Banana Time</h1>
        <div class="row">
            <div class="row g-3">
                <form class="row" method="POST">
                    <input type="hidden" name="form_id" value="set_banana_time">
                    <h3 for="" class="form-label">Time</h3>
                    <div class="col-auto">
                        <input class="form-control" type="time" name="banana_time" value="{{ announcements['banana_time'].time.strftime('%H:%M') }}">
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-primary">Set</button>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <div class="row">
            <form class="row" method="POST">
                <input type="hidden" name="form_id" value="set_banana_time_text">
                <h3 for="" class="form-label">Message</h3>
                <div class="col">
                    <input type="text" class="form-control" name="text" value="{{ announcements['banana_time'].text }}" required></input>
                </div>
                <div class="col-auto">
                    <button class="btn btn-primary">Set</button>
                </div>
            </form>
        </div>
    </div>
    
    <br>
    
    <!-- Announcements -->
    <div class="container">
        <h1>Announcements</h1>

        <!-- Scheduled -->
        <div class="row">
            <h3>Scheduled</h3>
            <table class="table">
                <tr>
                    <th>Time</th>
                    <th>Message</th>
                    <th></th>
                </tr>
                {% for key in announcements %}
                    {% if announcements[key].time != None %}
                        <tr>
                            <form method="POST">
                                <input type="hidden" name="form_id" value="remove_announcement">
                                <input type="hidden" name="announcement_id" value="{{ announcements[key].id }}">
                                <td>{{ announcements[key].time.strftime("%H:%M") }}</td>
                                <td>{{ announcements[key].text }}</td>
                                {% if announcements[key].id != 'banana_time' %}
                                    <td title="Remove announcement"><button class="btn btn-danger">Remove</button></td>
                                {% else %}
                                    <td title="Cannot remove banana time announcement"><button class="btn btn-secondary" disabled>Remove</button></td>
                                {% endif %}
                            </form>
                        </tr>
                    {% else %}
                        <tr>
                            <form method="POST">
                                <input type="hidden" name="form_id" value="remove_announcement">
                                <input type="hidden" name="announcement_id" value="{{ announcements[key].id }}">
                                <td>{{ announcements[key].mins_before }} minutes before {{ announcements[key].banana_time.strftime("%H:%M") }}</td>
                                <td>{{ announcements[key].text }}</td>
                                <td><button class="btn btn-danger">Remove</button></td>
                            </form>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>

        <br>

        <!-- Add Announcements -->
        <div class="row">
            <h3>Add Announcements</h3>
            <div class="row">
                <h4>Time Announcement</h4>
                <form method="POST" class="row">
                    <input type="hidden" name="form_id" value="add_announcement">
                    <div class="col-sm-auto ">
                        <label for="" class="form-label">Time</label>
                        <input class="form-control" type="time" name="time">
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Announcement Message</label>
                        <input class="form-control" type="text" name="text" required></textarea>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>

            <div class="row">
                <h4>Minutes Before Announcement</h4>
                <form method="POST" class="row">
                    <input type="hidden" name="form_id" value="add_mins_before_announcement">
                    <div class="col-sm-auto ">
                        <label for="" class="form-label">Minutes Before</label>
                        <input class="form-control" type="number" name="mins_before" min="1" max="1440" step="1" required>
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Announcement Message</label>
                        <input class="form-control" type="text" name="text" required></textarea>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}