<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <title>BananaBot Home</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">BananaBot</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('about') }}">About</a>
                </li>
            </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <h1>Set-Time Announcements</h1>
            <div class="row g-3">
                <form class="row" method="POST">
                    <input type="hidden" name="formId" value="bananaTime">
                    <label for="" class="form-label">Banana Time</label>
                    <div class="col-auto">
                        <input class="form-control" type="time" name="bananaTime" value="{{ bananaTime }}">
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-primary">Set</button>
                    </div>
                </form>
            </div>

            <div class="row g-3">
                <form class="row" method="POST">
                    <input type="hidden" name="formId" value="morningAnnouncementTime">
                    <label for="" class="form-label">Morning Announcement Time</label>
                    <div class="col-auto">
                        <input class="form-control" type="time" name="morningAnnouncementTime" value="{{ morningAnnouncementTime }}">
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-primary">Set</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <br>
    
    <div class="container">
        <div class="col-xs-12">
            <h1>Dynamic Announcements</h1>

            <div class="row">
                <form class="row" method="POST">
                    <input type="hidden" name="formId" value="announcement">
                    <div class="col-auto">
                        <label for="" class="form-label">Minutes Before</label>
                        <input class="form-control" type="number" min="1" max="1440" step="1" value="">
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Announcement Message</label>
                        <textarea class="form-control" value=""></textarea>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>

            <br>

            <div class="row g-3">
                <h2>Scheduled</h2>
                <table class="table">
                    <tr>
                        <th>Minutes Before</th>
                        <th>Announcement Message</th>
                        <th></th>
                    </tr>
                    {% for announcement in announcements %}
                    <tr>
                        <td>{{ announcement.minsBefore }}</td>
                        <td>{{ announcement.text }}</td>
                        <td><button class="btn btn-danger">Delete</button></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</body>
</html>