{% extends 'base.html' %}

{% block body %}

<div class="vh-100 bg-black w-100">
    <div class="container-landing landing-text-container hero-image">
        <div class="">
            <h1 class="text-uppercase text-white landing-header">The Worldwide Phenomenon Taking the World By Storm!
            </h1>
            <p class="text-white landing-text"> As other colleagues began to join in the fun something magical began to stir behind the scenes. And thus,
                BananaBot (BB for short) was born.</p>
        </div>
    </div>

    <div class="container-fluid">
        <h2>Banana time in</h2>
    </div>
</div>

<hr>

<div class="container">
    <div class="row">
        <h1>Banana Time will be at {{ banana_time }} today!</h1>
    </div>
</div>

<hr>

<div class="container">
    <div class="col-xs-12">
        <h1>Scheduled Announcements</h1>
        <div class="row g-3">
            <table class="table">
                <tr>
                    <th>Time</th>
                    <th>Message</th>
                    <th></th>
                </tr>
                {% for key in announcements %}
                {% if announcements[key].time != None %}
                <tr>
                    <td>{{ announcements[key].time.strftime("%H:%M") }}</td>
                    <td>{{ announcements[key].text }}</td>
                </tr>
                {% else %}
                <tr>
                    <td>{{ announcements[key].mins_before }} minutes before {{
                        announcements[key].banana_time.strftime("%H:%M") }}</td>
                    <td>{{ announcements[key].text }}</td>
                </tr>
                {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}