{% extends 'base.html' %}

{% block body %}

<div class="w-100 landing-section">
    <div class="flex-container">
        <div class="landing-item ">
            <h1 class="text-uppercase landing-header">The <span class="text-highlight">Phenomenon</span> Taking the
                World By Storm!
            </h1>
            <p class="landing-text"> As other colleagues began to join in the fun something magical began to stir behind
                the scenes. And thus,
                BananaBot (BB for short) was born.</p>
        </div>
        <div class="hero-image landing-item"></div>
    </div>
</div>

<div class="w-100 banana-info">
    <h2 class="banana-time-logo">Banana Time In</h1>
        <div class="banana-times">
            <h2 class="banana-time-label"><span class="banana-time-number">20</span> HOURS</h1>
                <h2 class="banana-time-label"><span class="banana-time-number">54</span> MINUTES</h1>
                    <h2 class="banana-time-label"><span class="banana-time-number">7</span> SECONDS</h1>
        </div>
        <h2 class="banana-actual-time">{{ banana_time }}</h1>
</div>

<div class="container announcement-container">
    <div class="col-xs-12">
        <h1>Scheduled Announcements</h1>
        <div class="row g-3">
            <table class="table">
                <tr>
                    <th>Time</th>
                    <th>Message</th>
                    <th></th>
                </tr>
                {% for key in announcements %}
                {% if announcements[key].time != None %}
                <tr>
                    <td>{{ announcements[key].time.strftime("%H:%M") }}</td>
                    <td>{{ announcements[key].text }}</td>
                </tr>
                {% else %}
                <tr>
                    <td>{{ announcements[key].mins_before }} minutes before {{
                        announcements[key].banana_time.strftime("%H:%M") }}</td>
                    <td>{{ announcements[key].text }}</td>
                </tr>
                {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}